{% extends "base.html" %}

{% block content %}
<!--index.html-->
{% if object_list %}
<div class="container-fluid my-5 mx-2">
<h3 class="display-4">All my lists:</h3>
</div>
{% endif %}
<div class="container-fluid my-5 mx-5">
<ul class="list-group">
    {% comment %} ListView automatically provides the context variable object_list to the template, 
    and object_list contains the list of to-do lists. {% endcomment %}
    {% for todolist in object_list %}
    <li class="list-item list-group-item-action">
        <div
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
           <h5 class="display-6"> {{ todolist.title }}</h5>
        </div>
    </li>
    {% comment %} if the object_list is empty {% endcomment %}
    {% empty %}     
    <h4>You have no lists!</h4>
    {% endfor %}
</ul>
</div>
<div class="container-fluid my-5 mx-5">
<p>
    <input class="btn btn-warning btn-lg"
        value="Add a new list"
        onclick="location.href='{% url "list-add" %}'"/>
</p>
</div>
{% endblock %}
