{% extends "base.html" %}

{% block content %}
<div class="container-fluid my-5">
    <div>
        <div class="container-fluid my-5">
            <h3 class="display-3">Edit list:</h3>
            <h5 class="display-6 mx-3">{{ todo_list.title | upper }}</h5>
        </div>
        <div class="container-fluid">
        <ul class="list-group">
            {% for todo in object_list %}
            <li  class="list-item list-group-item-action">
                <div class="container-fluid mx-5">
                    <div
                        role="button"
                        onclick="location.href=
                        '{% url "item-update" todo_list.id todo.id %}'">
                        {{ todo.title }}
                        (Due {{ todo.due_date | date:"l, F j" }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        </div> 
            <div class="container-fluid my-5">
            <input class="btn btn-primary"
                value="Add a new item"
                onclick="location.href=
                '{% url "item-add" todo_list.id %}'" />
            <input class="btn btn-danger"
                value="Delete this list"
                onclick="location.href=
                '{% url "list-delete" todo_list.id %}'" />
    </div>
    </div>
</div>
{% endblock %}
